.profile-menu {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;
}

.notification-icon {
  position: relative;
}

.notification-icon img {
  width: 24px;
  height: 24px;
}

.notification-dot {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.user-role {
  font-size: 12px;
  color: gray;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #e7eff2;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.menu-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  filter: grayscale(1);
  transition: color 0.3s ease;
  background: transparent;
}

.dropdown-menu ul {
  background: rgba(242, 247, 249, 1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background 0.2s ease-in-out;
  letter-spacing: 0.5px;
}

.dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  font-weight: 700;
}

.dropdown-menu li:last-child {
  color: red;
}

.dropdown-menu li:last-child .menu-icon {
  filter: brightness(0) saturate(100%) invert(14%) sepia(98%) saturate(7490%)
    hue-rotate(1deg);
}

.dropdown-arrow {
  font-size: 12px;
  color: gray;
}
